<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Coin Currency Compare</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>

<div id="container">   

	<table class="zebra">
    <caption>Coin Currency Compare</caption>
		<thead>
        	<tr>
				<th>Coin</th>
				<th>POLO(Base)</th>
				<th>OKCN</th>
				<th>HUOBI</th>
				<th>BITTREX</th>
				<th>Yunbi</th>
 				<th>BTC38</th>
				<th>Jubi</th>
           </tr>
		</thead>
        <tbody>
        	<tr>
            	<td>BTC</td>
                <td>{{.POLO_BTC}}</td>
                <td>{{.OKCN_BTC}}</td>
                <td>{{.HUOBI_BTC}}</td>
                <td>{{.BITTREX_BTC}}</td>
                <td>{{.Yunbi_BTC}}</td>
                <td>{{.BTC38_BTC}}</td>
                <td>{{.Jubi_BTC}}</td>
            </tr>
            <tr>
            	<td>LTC</td>
                <td>{{.POLO_LTC}}</td>
                <td>{{.OKCN_LTC}}</td>
                <td>{{.HUOBI_LTC}}</td>
                <td>{{.BITTREX_LTC}}</td>
                <td>{{.Yunbi_LTC}}</td>
                <td>{{.BTC38_LTC}}</td>
                <td>{{.Jubi_LTC}}</td>
            </tr>
            <tr>
            	<td>ETH</td>
                <td>{{.POLO_ETH}}</td>
                <td>{{.OKCN_ETH}}</td>
                <td>{{.HUOBI_ETH}}</td>
                <td>{{.BITTREX_ETH}}</td>
                <td>{{.Yunbi_ETH}}</td>
                <td>{{.BTC38_ETH}}</td>
                <td>{{.Jubi_ETH}}</td>
            </tr>
            <tr>
            	<td>ETC</td>
                <td>{{.POLO_ETC}}</td>
                <td>{{.OKCN_ETC}}</td>
                <td>{{.HUOBI_ETC}}</td>
                <td>{{.BITTREX_ETC}}</td>
                <td>{{.Yunbi_ETC}}</td>
                <td>{{.BTC38_ETC}}</td>
                <td>{{.Jubi_ETC}}</td>
            </tr>
            <tr>
            	<td>DOGE</td>
                <td>{{.POLO_DOGE}}</td>
                <td>{{.OKCN_DOGE}}</td>
                <td>{{.HUOBI_DOGE}}</td>
                <td>{{.BITTREX_DOGE}}</td>
                <td>{{.Yunbi_DOGE}}</td>
                <td>{{.BTC38_DOGE}}</td>
                <td>{{.Jubi_DOGE}}</td>
            </tr>
            <tr>
            	<td>XRP</td>
                <td>{{.POLO_XRP}}</td>
                <td>{{.OKCN_XRP}}</td>
                <td>{{.HUOBI_XRP}}</td>
                <td>{{.BITTREX_XRP}}</td>
                <td>{{.Yunbi_XRP}}</td>
                <td>{{.BTC38_XRP}}</td>
                <td>{{.Jubi_XRP}}</td>
            </tr>
            <tr>
            	<td>BLK</td>
                <td>{{.POLO_BLK}}</td>
                <td>{{.OKCN_BLK}}</td>
                <td>{{.HUOBI_BLK}}</td>
                <td>{{.BITTREX_BLK}}</td>
                <td>{{.Yunbi_BLK}}</td>
                <td>{{.BTC38_BLK}}</td>
                <td>{{.Jubi_BLK}}</td>
			</tr>
            <tr>
            	<td>LSK</td>
                <td>{{.POLO_LSK}}</td>
                <td>{{.OKCN_LSK}}</td>
                <td>{{.HUOBI_LSK}}</td>
                <td>{{.BITTREX_LSK}}</td>
                <td>{{.Yunbi_LSK}}</td>
                <td>{{.BTC38_LSK}}</td>
                <td>{{.Jubi_LSK}}</td>
            </tr>
            <tr>
            	<td>GAME</td>
                <td>{{.POLO_GAME}}</td>
                <td>{{.OKCN_GAME}}</td>
                <td>{{.HUOBI_GAME}}</td>
                <td>{{.BITTREX_GAME}}</td>
                <td>{{.Yunbi_GAME}}</td>
                <td>{{.BTC38_GAME}}</td>
                <td>{{.Jubi_GAME}}</td>
            </tr>
             <tr>
            	<td>SC</td>
                <td>{{.POLO_SC}}</td>
                <td>{{.OKCN_SC}}</td>
                <td>{{.HUOBI_SC}}</td>
                <td>{{.BITTREX_SC}}</td>
                <td>{{.Yunbi_SC}}</td>
                <td>{{.BTC38_SC}}</td>
                <td>{{.Jubi_SC}}</td>
            </tr>
        </tbody>
	</table>
</div>
    
</body>
</html>
