<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7;IE=EDGE">
		<title>搬砖工内参</title>
		<link rel="shortcut icon" href="../static/images/advantage1.png" >
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" >
		<script language="javascript" src="../static/js/ajax.js">   </script>

	</head>
    
    <body onload =sendRequest()>
        <p><font size="5" face="arial" color="red">启用域名btstar.info</font></p>
        <p><font color="red">网站改版中，敬请期待！</font></p>
		 <p>	当前汇率   USD:CNY=  {{.exchangeRate}}		</p>
        <div id="container">
            <table class="bordered">
                <caption><h2>搬砖工内参</h2></caption>
               <thead>
                    <tr>
                        <th>-</th>
                        <th><a href="https://poloniex.com/">P网</a></th>
                        <th><a href="https://bittrex.com/">B网</a></th>
                        <th><a href="https://www.bitfinex.com/">BITFINEX</a></th>
                        <th><a href="https://www.okcoin.cn/">币行</a></th>
                        <th><a href="https://huobi.com/">火币</a></th>
                        <th><a href="https://yunbi.com/">云币</a></th>
                        <th><a href="http://btc38.com/">比特时代</a></th>
                        <th><a href="http://www.jubi.com/i_ousbcj">聚币</a></th>
                        <th><a href="https://www.chbtc.com/">中国比特币</a></th>
                        <th><a href="https://bter.com/">比特儿</a></th>
                        <th><a href="https://www.liqui.io/">李奎</a></th>
                        <th><a href="https://www.binance.com/">币安</a></th>
					</tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BTC比特币</td>
                        <td id="POLO_BTC"></td>
                        <td id="BITTREX_BTC"></td>
                        <td id="BITFINEX_BTC"></td>
                        <td id="OKCN_BTC"></td>
                        <td id="HUOBI_BTC"></td>
                        <td id="YUNBI_BTC"></td>
                        <td id="BTC38_BTC"></td>
                        <td id="JUBI_BTC"></td>
                        <td id="CHBTC_BTC"></td>
                        <td id="BTER_BTC"></td>
                        <td id="LIQUI_BTC"></td>
                        <td id="BIAN_BTC"></td>
					</tr>
                    <tr>
                        <td>BCC比特现金</td>
                        <td id="POLO_BCC"></td>
                        <td id="BITTREX_BCC"></td>
                        <td id="BITFINEX_BCC"></td>
                        <td id="OKCN_BCC"></td>
                        <td id="HUOBI_BCC"></td>
                        <td id="YUNBI_BCC"></td>
                        <td id="BTC38_BCC"></td>
                        <td id="JUBI_BCC"></td>
                        <td id="CHBTC_BCC"></td>
                        <td id="BTER_BCC"></td>
                        <td id="LIQUI_BCC"></td>
                        <td id="BIAN_BCC"></td>
					</tr>
                    <tr>
                        <td>LTC莱特币</td>
                        <td id="POLO_LTC"></td>
                        <td id="BITTREX_LTC"></td>
                        <td id="BITFINEX_LTC"></td>
                        <td id="OKCN_LTC"></td>
                        <td id="HUOBI_LTC"></td>
                        <td id="YUNBI_LTC"></td>
                        <td id="BTC38_LTC"></td>
                        <td id="JUBI_LTC"></td>
                        <td id="CHBTC_LTC"></td>
                        <td id="BTER_LTC"></td>
                        <td id="LIQUI_LTC"></td>
                        <td id="BIAN_LTC"></td>
					</tr>
                    <tr>
                        <td>ETH以太坊</td>
                        <td id="POLO_ETH"></td>
                        <td id="BITTREX_ETH"></td>
                        <td id="BITFINEX_ETH"></td>
                        <td id="OKCN_ETH"></td>
                        <td id="HUOBI_ETH"></td>
                        <td id="YUNBI_ETH"></td>
                        <td id="BTC38_ETH"></td>
                        <td id="JUBI_ETH"></td>
                        <td id="CHBTC_ETH"></td>
                        <td id="BTER_ETH"></td>
                        <td id="LIQUI_ETH"></td>
                        <td id="BIAN_ETH"></td>
					</tr>
                    <tr>
                        <td>ETC以太经典</td>
                        <td id="POLO_ETC"></td>
                        <td id="BITTREX_ETC"></td>
                        <td id="BITFINEX_ETC"></td>
                        <td id="OKCN_ETC"></td>
                        <td id="HUOBI_ETC"></td>
                        <td id="YUNBI_ETC"></td>
                        <td id="BTC38_ETC"></td>
                        <td id="JUBI_ETC"></td>
                        <td id="CHBTC_ETC"></td>
                        <td id="BTER_ETC"></td>
                        <td id="LIQUI_ETC"></td>
                        <td id="BIAN_ETC"></td>
					</tr>
                    <tr>
                        <td>DOGE狗狗币</td>
                        <td id="POLO_DOGE"></td>
                        <td id="BITTREX_DOGE"></td>
                        <td id="BITFINEX_DOGE"></td>
                        <td id="OKCN_DOGE"></td>
                        <td id="HUOBI_DOGE"></td>
                        <td id="YUNBI_DOGE"></td>
                        <td id="BTC38_DOGE"></td>
                        <td id="JUBI_DOGE"></td>
                        <td id="CHBTC_DOGE"></td>
                        <td id="BTER_DOGE"></td>
                        <td id="LIQUI_DOGE"></td>
                        <td id="BIAN_DOGE"></td>
					</tr>
                    <tr>
                        <td>XRP瑞波币</td>
                        <td id="POLO_XRP"></td>
                        <td id="BITTREX_XRP"></td>
                        <td id="BITFINEX_XRP"></td>
                        <td id="OKCN_XRP"></td>
                        <td id="HUOBI_XRP"></td>
                        <td id="YUNBI_XRP"></td>
                        <td id="BTC38_XRP"></td>
                        <td id="JUBI_XRP"></td>
                        <td id="CHBTC_XRP"></td>
                        <td id="BTER_XRP"></td>
                        <td id="LIQUI_XRP"></td>
                        <td id="BIAN_XRP"></td>
					</tr>
                    <tr>
                        <td>BLK黑币</td>
                        <td id="POLO_BLK"></td>
                        <td id="BITTREX_BLK"></td>
                        <td id="BITFINEX_BLK"></td>
                        <td id="OKCN_BLK"></td>
                        <td id="HUOBI_BLK"></td>
                        <td id="YUNBI_BLK"></td>
                        <td id="BTC38_BLK"></td>
                        <td id="JUBI_BLK"></td>
                        <td id="CHBTC_BLK"></td>
                        <td id="BTER_BLK"></td>
                        <td id="LIQUI_BLK"></td>
                        <td id="BIAN_BLK"></td>
					</tr>
                    <tr>
                        <td>LSK</td>
                        <td id="POLO_LSK"></td>
                        <td id="BITTREX_LSK"></td>
                        <td id="BITFINEX_LSK"></td>
                        <td id="OKCN_LSK"></td>
                        <td id="HUOBI_LSK"></td>
                        <td id="YUNBI_LSK"></td>
                        <td id="BTC38_LSK"></td>
                        <td id="JUBI_LSK"></td>
                        <td id="CHBTC_LSK"></td>
                        <td id="BTER_LSK"></td>
                        <td id="LIQUI_LSK"></td>
                        <td id="BIAN_LSK"></td>
					</tr>
                    <tr>
                        <td>GAME游戏币</td>
                        <td id="POLO_GAME"></td>
                        <td id="BITTREX_GAME"></td>
                        <td id="BITFINEX_GAME"></td>
                        <td id="OKCN_GAME"></td>
                        <td id="HUOBI_GAME"></td>
                        <td id="YUNBI_GAME"></td>
                        <td id="BTC38_GAME"></td>
                        <td id="JUBI_GAME"></td>
                        <td id="CHBTC_GAME"></td>
                        <td id="BTER_GAME"></td>
                        <td id="LIQUI_GAME"></td>
                        <td id="BIAN_GAME"></td>
					</tr>
                    <tr>
                        <td>SC云储币</td>
                        <td id="POLO_SC"></td>
                        <td id="BITTREX_SC"></td>
                        <td id="BITFINEX_SC"></td>
                        <td id="OKCN_SC"></td>
                        <td id="HUOBI_SC"></td>
                        <td id="YUNBI_SC"></td>
                        <td id="BTC38_SC"></td>
                        <td id="JUBI_SC"></td>
                        <td id="CHBTC_SC"></td>
                        <td id="BTER_SC"></td>
                        <td id="LIQUI_SC"></td>
                        <td id="BIAN_SC"></td>
					</tr>
					<tr>
                        <td>BTS比特股</td>
                        <td id="POLO_BTS"></td>
                        <td id="BITTREX_BTS"></td>
                        <td id="BITFINEX_BTS"></td>
                        <td id="OKCN_BTS"></td>
                        <td id="HUOBI_BTS"></td>
                        <td id="YUNBI_BTS"></td>
                        <td id="BTC38_BTS"></td>
                        <td id="JUBI_BTS"></td>
                        <td id="CHBTC_BTS"></td>
                        <td id="BTER_BTS"></td>
                        <td id="LIQUI_BTS"></td>
                        <td id="BIAN_BTS"></td>
					</tr>
					<tr>
                        <td>XPM质数币</td>
                        <td id="POLO_XPM"></td>
                        <td id="BITTREX_XPM"></td>
                        <td id="BITFINEX_XPM"></td>
                        <td id="OKCN_XPM"></td>
                        <td id="HUOBI_XPM"></td>
                        <td id="YUNBI_XPM"></td>
                        <td id="BTC38_XPM"></td>
                        <td id="JUBI_XPM"></td>
                        <td id="CHBTC_XPM"></td>
                        <td id="BTER_XPM"></td>
                        <td id="LIQUI_XPM"></td>
                        <td id="BIAN_XPM"></td>
					</tr>
					<tr>
                        <td>XEM新经币</td>
                        <td id="POLO_XEM"></td>
                        <td id="BITTREX_XEM"></td>
                        <td id="BITFINEX_XEM"></td>
                        <td id="OKCN_XEM"></td>
                        <td id="HUOBI_XEM"></td>
                        <td id="YUNBI_XEM"></td>
                        <td id="BTC38_XEM"></td>
                        <td id="JUBI_XEM"></td>
                        <td id="CHBTC_XEM"></td>
                        <td id="BTER_XEM"></td>
                        <td id="LIQUI_XEM"></td>
                        <td id="BIAN_XEM"></td>
					</tr>
					<tr>
                        <td>PPC点点币</td>
                        <td id="POLO_PPC"></td>
                        <td id="BITTREX_PPC"></td>
                        <td id="BITFINEX_PPC"></td>
                        <td id="OKCN_PPC"></td>
                        <td id="HUOBI_PPC"></td>
                        <td id="YUNBI_PPC"></td>
                        <td id="BTC38_PPC"></td>
                        <td id="JUBI_PPC"></td>
                        <td id="CHBTC_PPC"></td>
                        <td id="BTER_PPC"></td>
                        <td id="LIQUI_PPC"></td>
                        <td id="BIAN_PPC"></td>
					</tr>
					<tr>
                        <td>VTC绿币</td>
                        <td id="POLO_VTC"></td>
                        <td id="BITTREX_VTC"></td>
                        <td id="BITFINEX_VTC"></td>
                        <td id="OKCN_VTC"></td>
                        <td id="HUOBI_VTC"></td>
                        <td id="YUNBI_VTC"></td>
                        <td id="BTC38_VTC"></td>
                        <td id="JUBI_VTC"></td>
                        <td id="CHBTC_VTC"></td>
                        <td id="BTER_VTC"></td>
                        <td id="LIQUI_VTC"></td>
                        <td id="BIAN_VTC"></td>
					</tr>
					<tr>
                        <td>VRC维理币</td>
                        <td id="POLO_VRC"></td>
                        <td id="BITTREX_VRC"></td>
                        <td id="BITFINEX_VRC"></td>
                        <td id="OKCN_VRC"></td>
                        <td id="HUOBI_VRC"></td>
                        <td id="YUNBI_VRC"></td>
                        <td id="BTC38_VRC"></td>
                        <td id="JUBI_VRC"></td>
                        <td id="CHBTC_VRC"></td>
                        <td id="BTER_VRC"></td>
                        <td id="LIQUI_VRC"></td>
                        <td id="BIAN_VRC"></td>
					</tr>
					<tr>
                        <td>NXT未来币</td>
                        <td id="POLO_NXT"></td>
                        <td id="BITTREX_NXT"></td>
                        <td id="BITFINEX_NXT"></td>
                        <td id="OKCN_NXT"></td>
                        <td id="HUOBI_NXT"></td>
                        <td id="YUNBI_NXT"></td>
                        <td id="BTC38_NXT"></td>
                        <td id="JUBI_NXT"></td>
                        <td id="CHBTC_NXT"></td>
                        <td id="BTER_NXT"></td>
                        <td id="LIQUI_NXT"></td>
                        <td id="BIAN_NXT"></td>
					</tr>
					<tr>
                        <td>SYS系统币</td>
                        <td id="POLO_SYS"></td>
                        <td id="BITTREX_SYS"></td>
                        <td id="BITFINEX_SYS"></td>
                        <td id="OKCN_SYS"></td>
                        <td id="HUOBI_SYS"></td>
                        <td id="YUNBI_SYS"></td>
                        <td id="BTC38_SYS"></td>
                        <td id="JUBI_SYS"></td>
                        <td id="CHBTC_SYS"></td>
                        <td id="BTER_SYS"></td>
                        <td id="LIQUI_SYS"></td>
                        <td id="BIAN_SYS"></td>
					</tr>
					<tr>
                        <td>DASH达世币</td>
                        <td id="POLO_DASH"></td>
                        <td id="BITTREX_DASH"></td>
                        <td id="BITFINEX_DASH"></td>
                        <td id="OKCN_DASH"></td>
                        <td id="HUOBI_DASH"></td>
                        <td id="YUNBI_DASH"></td>
                        <td id="BTC38_DASH"></td>
                        <td id="JUBI_DASH"></td>
                        <td id="CHBTC_DASH"></td>
                        <td id="BTER_DASH"></td>
                        <td id="LIQUI_DASH"></td>
                        <td id="BIAN_DASH"></td>
					</tr>
					<tr>
                        <td>ANS小蚁股</td>
                        <td id="POLO_ANS"></td>
                        <td id="BITTREX_ANS"></td>
                        <td id="BITFINEX_ANS"></td>
                        <td id="OKCN_ANS"></td>
                        <td id="HUOBI_ANS"></td>
                        <td id="YUNBI_ANS"></td>
                        <td id="BTC38_ANS"></td>
                        <td id="JUBI_ANS"></td>
                        <td id="CHBTC_ANS"></td>
                        <td id="BTER_ANS"></td>
                        <td id="LIQUI_ANS"></td>
                        <td id="BIAN_ANS"></td>
					</tr>
					<tr>
                        <td>ZEC</td>
                        <td id="POLO_ZEC"></td>
                        <td id="BITTREX_ZEC"></td>
                        <td id="BITFINEX_ZEC"></td>
                        <td id="OKCN_ZEC"></td>
                        <td id="HUOBI_ZEC"></td>
                        <td id="YUNBI_ZEC"></td>
                        <td id="BTC38_ZEC"></td>
                        <td id="JUBI_ZEC"></td>
                        <td id="CHBTC_ZEC"></td>
                        <td id="BTER_ZEC"></td>
                        <td id="LIQUI_ZEC"></td>
                        <td id="BIAN_ZEC"></td>
					</tr>
					
					<tr>
                        <td>RIC</td>
                        <td id="POLO_RIC"></td>
                        <td id="BITTREX_RIC"></td>
                        <td id="BITFINEX_RIC"></td>
                        <td id="OKCN_RIC"></td>
                        <td id="HUOBI_RIC"></td>
                        <td id="YUNBI_RIC"></td>
                        <td id="BTC38_RIC"></td>
                        <td id="JUBI_RIC"></td>
                        <td id="CHBTC_RIC"></td>
                        <td id="BTER_RIC"></td>
                        <td id="LIQUI_RIC"></td>
                        <td id="BIAN_RIC"></td>
					</tr>
					
					<tr>
                        <td>ZCC</td>
                        <td id="POLO_ZCC"></td>
                        <td id="BITTREX_ZCC"></td>
                        <td id="BITFINEX_ZCC"></td>
                        <td id="OKCN_ZCC"></td>
                        <td id="HUOBI_ZCC"></td>
                        <td id="YUNBI_ZCC"></td>
                        <td id="BTC38_ZCC"></td>
                        <td id="JUBI_ZCC"></td>
                        <td id="CHBTC_ZCC"></td>
                        <td id="BTER_ZCC"></td>
                        <td id="LIQUI_ZCC"></td>
                        <td id="BIAN_ZCC"></td>
					</tr>
					
					<tr>
                        <td>WDC</td>
                        <td id="POLO_WDC"></td>
                        <td id="BITTREX_WDC"></td>
                        <td id="BITFINEX_WDC"></td>
                        <td id="OKCN_WDC"></td>
                        <td id="HUOBI_WDC"></td>
                        <td id="YUNBI_WDC"></td>
                        <td id="BTC38_WDC"></td>
                        <td id="JUBI_WDC"></td>
                        <td id="CHBTC_WDC"></td>
                        <td id="BTER_WDC"></td>
                        <td id="LIQUI_WDC"></td>
                        <td id="BIAN_WDC"></td>
					</tr>
					
					<tr>
                        <td>EAC</td>
                        <td id="POLO_EAC"></td>
                        <td id="BITTREX_EAC"></td>
                        <td id="BITFINEX_EAC"></td>
                        <td id="OKCN_EAC"></td>
                        <td id="HUOBI_EAC"></td>
                        <td id="YUNBI_EAC"></td>
                        <td id="BTC38_EAC"></td>
                        <td id="JUBI_EAC"></td>
                        <td id="CHBTC_EAC"></td>
                        <td id="BTER_EAC"></td>
                        <td id="LIQUI_EAC"></td>
                        <td id="BIAN_EAC"></td>
					</tr>
					
					<tr>
                        <td>HLB</td>
                        <td id="POLO_HLB"></td>
                        <td id="BITTREX_HLB"></td>
                        <td id="BITFINEX_HLB"></td>
                        <td id="OKCN_HLB"></td>
                        <td id="HUOBI_HLB"></td>
                        <td id="YUNBI_HLB"></td>
                        <td id="BTC38_HLB"></td>
                        <td id="JUBI_HLB"></td>
                        <td id="CHBTC_HLB"></td>
                        <td id="BTER_HLB"></td>
                        <td id="LIQUI_HLB"></td>
                        <td id="BIAN_HLB"></td>
					</tr>
					<tr>
                        <td>QTUM</td>
                        <td id="POLO_QTUM"></td>
                        <td id="BITTREX_QTUM"></td>
                        <td id="BITFINEX_QTUM"></td>
                        <td id="OKCN_QTUM"></td>
                        <td id="HUOBI_QTUM"></td>
                        <td id="YUNBI_QTUM"></td>
                        <td id="BTC38_QTUM"></td>
                        <td id="JUBI_QTUM"></td>
                        <td id="CHBTC_QTUM"></td>
                        <td id="BTER_QTUM"></td>
                        <td id="LIQUI_QTUM"></td>
						<td id="BIAN_QTUM"></td>
					</tr>
					<tr>
                        <td>DGD</td>
                        <td id="POLO_DGD"></td>
                        <td id="BITTREX_DGD"></td>
                        <td id="BITFINEX_DGD"></td>
                        <td id="OKCN_DGD"></td>
                        <td id="HUOBI_DGD"></td>
                        <td id="YUNBI_DGD"></td>
                        <td id="BTC38_DGD"></td>
                        <td id="JUBI_DGD"></td>
                        <td id="CHBTC_DGD"></td>
                        <td id="BTER_DGD"></td>
                        <td id="LIQUI_DGD"></td>
                        <td id="BIAN_DGD"></td>
					</tr>
					<tr>
                        <td>REP</td>
                        <td id="POLO_REP"></td>
                        <td id="BITTREX_REP"></td>
                        <td id="BITFINEX_REP"></td>
                        <td id="OKCN_REP"></td>
                        <td id="HUOBI_REP"></td>
                        <td id="YUNBI_REP"></td>
                        <td id="BTC38_REP"></td>
                        <td id="JUBI_REP"></td>
                        <td id="CHBTC_REP"></td>
                        <td id="BTER_REP"></td>
                        <td id="LIQUI_REP"></td>
                        <td id="BIAN_REP"></td>
					</tr>
					<tr>
                        <td>1ST</td>
                        <td id="POLO_1ST"></td>
                        <td id="BITTREX_1ST"></td>
                        <td id="BITFINEX_1ST"></td>
                        <td id="OKCN_1ST"></td>
                        <td id="HUOBI_1ST"></td>
                        <td id="YUNBI_1ST"></td>
                        <td id="BTC38_1ST"></td>
                        <td id="JUBI_1ST"></td>
                        <td id="CHBTC_1ST"></td>
                        <td id="BTER_1ST"></td>
                        <td id="LIQUI_1ST"></td>
                        <td id="BIAN_1ST"></td>
					</tr>
					
					<tr>
                        <td>EOS</td>
                        <td id="POLO_EOS"></td>
                        <td id="BITTREX_EOS"></td>
                        <td id="BITFINEX_EOS"></td>
                        <td id="OKCN_EOS"></td>
                        <td id="HUOBI_EOS"></td>
                        <td id="YUNBI_EOS"></td>
                        <td id="BTC38_EOS"></td>
                        <td id="JUBI_EOS"></td>
                        <td id="CHBTC_EOS"></td>
                        <td id="BTER_EOS"></td>
                        <td id="LIQUI_EOS"></td>
						<td id="BIAN_EOS"></td>
					</tr>
					<tr>
                        <td>BAT</td>
                        <td id="POLO_BAT"></td>
                        <td id="BITTREX_BAT"></td>
                        <td id="BITFINEX_BAT"></td>
                        <td id="OKCN_BAT"></td>
                        <td id="HUOBI_BAT"></td>
                        <td id="YUNBI_BAT"></td>
                        <td id="BTC38_BAT"></td>
                        <td id="JUBI_BAT"></td>
                        <td id="CHBTC_BAT"></td>
                        <td id="BTER_BAT"></td>
                        <td id="LIQUI_BAT"></td>
                        <td id="BIAN_BAT"></td>
					</tr>
					<tr>
                        <td>SNT</td>
                        <td id="POLO_SNT"></td>
                        <td id="BITTREX_SNT"></td>
                        <td id="BITFINEX_SNT"></td>
                        <td id="OKCN_SNT"></td>
                        <td id="HUOBI_SNT"></td>
                        <td id="YUNBI_SNT"></td>
                        <td id="BTC38_SNT"></td>
                        <td id="JUBI_SNT"></td>
                        <td id="CHBTC_SNT"></td>
                        <td id="BTER_SNT"></td>
                        <td id="LIQUI_SNT"></td>
						<td id="BIAN_SNT"></td>
					</tr>
					<tr>
                        <td>PAY</td>
                        <td id="POLO_PAY"></td>
                        <td id="BITTREX_PAY"></td>
                        <td id="BITFINEX_PAY"></td>
                        <td id="OKCN_PAY"></td>
                        <td id="HUOBI_PAY"></td>
                        <td id="YUNBI_PAY"></td>
                        <td id="BTC38_PAY"></td>
                        <td id="JUBI_PAY"></td>
                        <td id="CHBTC_PAY"></td>
                        <td id="BTER_PAY"></td>
                        <td id="LIQUI_PAY"></td>
                        <td id="BIAN_PAY"></td>
					</tr>
					<tr>
                        <td>OMG</td>
                        <td id="POLO_OMG"></td>
                        <td id="BITTREX_OMG"></td>
                        <td id="BITFINEX_OMG"></td>
                        <td id="OKCN_OMG"></td>
                        <td id="HUOBI_OMG"></td>
                        <td id="YUNBI_OMG"></td>
                        <td id="BTC38_OMG"></td>
                        <td id="JUBI_OMG"></td>
                        <td id="CHBTC_OMG"></td>
                        <td id="BTER_OMG"></td>
                        <td id="LIQUI_OMG"></td>
                        <td id="BIAN_OMG"></td>
					</tr>
					<tr>
                        <td>NMC</td>
                        <td id="POLO_NMC"></td>
                        <td id="BITTREX_NMC"></td>
                        <td id="BITFINEX_NMC"></td>
                        <td id="OKCN_NMC"></td>
                        <td id="HUOBI_NMC"></td>
                        <td id="YUNBI_NMC"></td>
                        <td id="BTC38_NMC"></td>
                        <td id="JUBI_NMC"></td>
                        <td id="CHBTC_NMC"></td>
                        <td id="BTER_NMC"></td>
                        <td id="LIQUI_NMC"></td>
                        <td id="BIAN_NMC"></td>
					</tr>
					<tr>
                        <td>XCP</td>
                        <td id="POLO_XCP"></td>
                        <td id="BITTREX_XCP"></td>
                        <td id="BITFINEX_XCP"></td>
                        <td id="OKCN_XCP"></td>
                        <td id="HUOBI_XCP"></td>
                        <td id="YUNBI_XCP"></td>
                        <td id="BTC38_XCP"></td>
                        <td id="JUBI_XCP"></td>
                        <td id="CHBTC_XCP"></td>
                        <td id="BTER_XCP"></td>
                        <td id="LIQUI_XCP"></td>
                        <td id="BIAN_XCP"></td>
					</tr>
					<tr>
                        <td>XMR</td>
                        <td id="POLO_XMR"></td>
                        <td id="BITTREX_XMR"></td>
                        <td id="BITFINEX_XMR"></td>
                        <td id="OKCN_XMR"></td>
                        <td id="HUOBI_XMR"></td>
                        <td id="YUNBI_XMR"></td>
                        <td id="BTC38_XMR"></td>
                        <td id="JUBI_XMR"></td>
                        <td id="CHBTC_XMR"></td>
                        <td id="BTER_XMR"></td>
                        <td id="LIQUI_XMR"></td>
                        <td id="BIAN_XMR"></td>
					</tr>
					<tr>
                        <td>ARDR</td>
                        <td id="POLO_ARDR"></td>
                        <td id="BITTREX_ARDR"></td>
                        <td id="BITFINEX_ARDR"></td>
                        <td id="OKCN_ARDR"></td>
                        <td id="HUOBI_ARDR"></td>
                        <td id="YUNBI_ARDR"></td>
                        <td id="BTC38_ARDR"></td>
                        <td id="JUBI_ARDR"></td>
                        <td id="CHBTC_ARDR"></td>
                        <td id="BTER_ARDR"></td>
                        <td id="LIQUI_ARDR"></td>
                        <td id="BIAN_ARDR"></td>
					</tr>
					<tr>
                        <td>GNT</td>
                        <td id="POLO_GNT"></td>
                        <td id="BITTREX_GNT"></td>
                        <td id="BITFINEX_GNT"></td>
                        <td id="OKCN_GNT"></td>
                        <td id="HUOBI_GNT"></td>
                        <td id="YUNBI_GNT"></td>
                        <td id="BTC38_GNT"></td>
                        <td id="JUBI_GNT"></td>
                        <td id="CHBTC_GNT"></td>
                        <td id="BTER_GNT"></td>
                        <td id="LIQUI_GNT"></td>
                        <td id="BIAN_GNT"></td>
					</tr>
					<tr>
                        <td>XLM</td>
                        <td id="POLO_XLM"></td>
                        <td id="BITTREX_XLM"></td>
                        <td id="BITFINEX_XLM"></td>
                        <td id="OKCN_XLM"></td>
                        <td id="HUOBI_XLM"></td>
                        <td id="YUNBI_XLM"></td>
                        <td id="BTC38_XLM"></td>
                        <td id="JUBI_XLM"></td>
                        <td id="CHBTC_XLM"></td>
                        <td id="BTER_XLM"></td>
                        <td id="LIQUI_XLM"></td>
                        <td id="BIAN_XLM"></td>
					</tr>
					<tr>
                        <td>EMC</td>
                        <td id="POLO_EMC"></td>
                        <td id="BITTREX_EMC"></td>
                        <td id="BITFINEX_EMC"></td>
                        <td id="OKCN_EMC"></td>
                        <td id="HUOBI_EMC"></td>
                        <td id="YUNBI_EMC"></td>
                        <td id="BTC38_EMC"></td>
                        <td id="JUBI_EMC"></td>
                        <td id="CHBTC_EMC"></td>
                        <td id="BTER_EMC"></td>
                        <td id="LIQUI_EMC"></td>
                        <td id="BIAN_EMC"></td>
					</tr>
					<tr>
                        <td>XZC</td>
                        <td id="POLO_XZC"></td>
                        <td id="BITTREX_XZC"></td>
                        <td id="BITFINEX_XZC"></td>
                        <td id="OKCN_XZC"></td>
                        <td id="HUOBI_XZC"></td>
                        <td id="YUNBI_XZC"></td>
                        <td id="BTC38_XZC"></td>
                        <td id="JUBI_XZC"></td>
                        <td id="CHBTC_XZC"></td>
                        <td id="BTER_XZC"></td>
                        <td id="LIQUI_XZC"></td>
                        <td id="BIAN_XZC"></td>
					</tr>
					<tr>
                        <td>BNT</td>
                        <td id="POLO_BNT"></td>
                        <td id="BITTREX_BNT"></td>
                        <td id="BITFINEX_BNT"></td>
                        <td id="OKCN_BNT"></td>
                        <td id="HUOBI_BNT"></td>
                        <td id="YUNBI_BNT"></td>
                        <td id="BTC38_BNT"></td>
                        <td id="JUBI_BNT"></td>
                        <td id="CHBTC_BNT"></td>
                        <td id="BTER_BNT"></td>
                        <td id="LIQUI_BNT"></td>
						<td id="BIAN_BNT"></td>
					</tr>
					<tr>
                        <td>FTC</td>
                        <td id="POLO_FTC"></td>
                        <td id="BITTREX_FTC"></td>
                        <td id="BITFINEX_FTC"></td>
                        <td id="OKCN_FTC"></td>
                        <td id="HUOBI_FTC"></td>
                        <td id="YUNBI_FTC"></td>
                        <td id="BTC38_FTC"></td>
                        <td id="JUBI_FTC"></td>
                        <td id="CHBTC_FTC"></td>
                        <td id="BTER_FTC"></td>
                        <td id="LIQUI_FTC"></td>
                        <td id="BIAN_FTC"></td>
					</tr>
					<tr>
                        <td>BTM</td>
                        <td id="POLO_BTM"></td>
                        <td id="BITTREX_BTM"></td>
                        <td id="BITFINEX_BTM"></td>
                        <td id="OKCN_BTM"></td>
                        <td id="HUOBI_BTM"></td>
                        <td id="YUNBI_BTM"></td>
                        <td id="BTC38_BTM"></td>
                        <td id="JUBI_BTM"></td>
                        <td id="CHBTC_BTM"></td>
                        <td id="BTER_BTM"></td>
                        <td id="LIQUI_BTM"></td>
						<td id="BIAN_BTM"></td>
					</tr>
					<tr>
                        <td>CVC</td>
                        <td id="POLO_CVC"></td>
                        <td id="BITTREX_CVC"></td>
                        <td id="BITFINEX_CVC"></td>
                        <td id="OKCN_CVC"></td>
                        <td id="HUOBI_CVC"></td>
                        <td id="YUNBI_CVC"></td>
                        <td id="BTC38_CVC"></td>
                        <td id="JUBI_CVC"></td>
                        <td id="CHBTC_CVC"></td>
                        <td id="BTER_CVC"></td>
                        <td id="LIQUI_CVC"></td>
                        <td id="BIAN_CVC"></td>
					</tr>
                </tbody>
            </table>
        </div>
<p>
	△ 以第一列为基准，计算溢价比例，如果第一列没有数据，则以第二列、第三列...<br />
	△ 后台数据每3秒更新一次，页面数据每3秒自动刷新一次<br />
	△ 汇率每3秒更新一次<br />
	△ 溢价率=(对比平台市价-参考平台市价)/参考平台市价<br />
	△ 360浏览器有兼容性问题，尽量用Chrome/IE/Firefox<br />
</p>


</body>

</html>