<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Coin Currency Compare</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>

<div id="container">   

	<table class="zebra">
    <caption>Coin Currency Compare</caption>
		<thead>
        	<tr>
				<th>Coin</th>
				<th>Polo(Base)</th>
				<th>OKCN</th>
				<th>OKCOM</th>
				<th>OKEX</th>
				<th>Yunbi</th>
 				<th>BTC38</th>
				<th>Jubi</th>
           </tr>
		</thead>
        <tbody>
        	<tr>
            	<td>BTC</td>
                <td>{{.Polo_BTC}}</td>
                <td>{{.OKCN_BTC}}</td>
                <td>{{.OKCOM_BTC}}</td>
                <td>{{.OKEX_BTC}}</td>
                <td>{{.Yunbi_BTC}}</td>
                <td>{{.BTC38_BTC}}</td>
                <td>{{.Jubi_BTC}}</td>
            </tr>
            <tr>
            	<td>LTC</td>
                <td>{{.Polo_LTC}}</td>
                <td>{{.OKCN_LTC}}</td>
                <td>{{.OKCOM_LTC}}</td>
                <td>{{.OKEX_LTC}}</td>
                <td>{{.Yunbi_LTC}}</td>
                <td>{{.BTC38_LTC}}</td>
                <td>{{.Jubi_LTC}}</td>
            </tr>
            <tr>
            	<td>ETH</td>
                <td>{{.Polo_ETH}}</td>
                <td>{{.OKCN_ETH}}</td>
                <td>{{.OKCOM_ETH}}</td>
                <td>{{.OKEX_ETH}}</td>
                <td>{{.Yunbi_ETH}}</td>
                <td>{{.BTC38_ETH}}</td>
                <td>{{.Jubi_ETH}}</td>
            </tr>
            <tr>
            	<td>ETC</td>
                <td>{{.Polo_ETC}}</td>
                <td>{{.OKCN_ETC}}</td>
                <td>{{.OKCOM_ETC}}</td>
                <td>{{.OKEX_ETC}}</td>
                <td>{{.Yunbi_ETC}}</td>
                <td>{{.BTC38_ETC}}</td>
                <td>{{.Jubi_ETC}}</td>
            </tr>
            <tr>
            	<td>DOGE</td>
                <td>{{.Polo_DOGE}}</td>
                <td>{{.OKCN_DOGE}}</td>
                <td>{{.OKCOM_DOGE}}</td>
                <td>{{.OKEX_DOGE}}</td>
                <td>{{.Yunbi_DOGE}}</td>
                <td>{{.BTC38_DOGE}}</td>
                <td>{{.Jubi_DOGE}}</td>
            </tr>
        </tbody>
	</table>
</div>
    
</body>
</html>
